mixin project(data)
	- style = data.cardColor && `background-color: ${data.cardColor}`
	- theme = data.theme && `project_theme_${data.theme}`

	+b.project&attributes(attributes)(style=style class=theme)
		+e.img('img')(src=data.image)
		+e.content
			+e.title=data.title
			+e.description=data.description

			+e('a').link(href=data.githubLink target='_blank') Github
			+e('a').link(href=data.link target='_blank') Посмотреть

